<%= month_calendar events: @events do |date, events| %>
  <%= date.day %>
   <% events.each do |event| %>
    <div>
      <%= event.title %>
    </div>
  <% end %>
<% end %>
  
<h1>入力フォーム</h1>

<%= form_with(model: @event, local: true) do |form| %>

  <div class="title">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

    <div class="time">
    <%= form.label :start_time %>
    <%= form.datetime_select :start_time %>
  </div>

  <div class="submit">
    <%= form.submit %>
  </div>

<% end %>