<div class="container-fluid text-center pt-4">
  <div class="row">
    
     <div class="col-4">
      <div class="listbox">
      <h1>＋<i class="fas fa-pencil-alt"></i></h1>
      <%= form_with(model: @event, local: true) do |form| %>
      
        <div class="title p-1">
          <%= form.label "Memo" %>
          <%= form.text_field :title, required: true, placeholder: "10文字まで" %>
        </div>
      
        <div class="time p-1">
          <%= form.label "Date" %>
          <%= form.date_select :start_time %>
        </div>
        
        <div class="p-1">
          <%= form.submit 'CREATE', class: 'btns' %>
        </div>
        
      <% end %>
      </div>
    </div>
    
    <div class="col-7 listbox">
      <%= month_calendar events: @events do |date, events| %>
        <%= date.day %>
         <% events.each do |event| %>
          <div>
            <%= link_to event_path(event.id), class:"link-secondary" do %>
              <p><%= event.title %></p>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
    
  </div>
</div>