<div class="container text-center">
  
  <div class="row">
    <h1>Create List</h1>
  </div>
  
  <div class="row">
    <%= form_with model: @list do |f| %>
    
      <div class=" mb-3 w-75 mx-auto">
        <%= f.label :image, "推しの画像を選択しよう!", class: 'd-flex' %> 
        <%= f.file_field :image, accept: "image/*", type: "file", class: "form-control", id: "formFile" %>
      </div>
      
      <div class="form-floating mb-3 w-75 mx-auto">
        <%= f.text_field :goal, type: "list_goal", class: "form-control", id: "floatingInput", placeholder: "oooできるようになる！", required: true %>
        <%= f.label :goal, "目標を設定しよう" %>
      </div>
      
      <div class="form-floating mb-3 w-75 mx-auto">
        <%= f.text_area :relation, type: "list_relation", class: "form-control", id: "floatingInput", placeholder: "推しのoooに貢献できる", required: true %>
        <%= f.label :relation, "目標達成は推しにどんな良い影響を与えられるか考えよう！"  %>
      </div>
      
      <div class="form-floating mb-3 w-75 mx-auto">
        <%= f.text_area :task,  type: "list_task", class: "form-control", id: "floatingInput", placeholder: "oooをする！", required: true %>
        <%= f.label :task, "毎日続けられるタスクを書こう！"  %> 
      </div>
      
      <div class="form-floating mb-3 w-75 mx-auto">
        <%= f.text_area :routine,  type: "list_routine", class: "form-control", id: "floatingInput", placeholder: "始める前にoooをする", required: true %>
        <%= f.label :routine, "タスクをやる前にやる気の上がるルーティンを決めよう" %> 
      </div>
      
      <%= f.submit 'CREATE', class: 'btns' %>
    <% end %>
  </div>
  
</div>
