<div>list 詳細</div>

<div>
  <%#= image_tag list_image.get_image %>
  <%#= image_tag ' ' %>
</div>
<div>
  <p>目標<%= @list.goal %></p>
  <p>関連付け<%= @list.relation %></p>
  <p>タスク<%#= @list.task %></p>
  <p>ルーティン<%= @list.routine %></p>
</div>

<%= link_to '戻る', lists_path %>
<%= link_to '編集', edit_list_path %>
  

