<h1>編集</h1>
<%= form_with model: @output do |f| %>
  <h4>投稿文</h4>
    <%= f.text_area :post %>
  <h4>タグ</h4>
    <%#= f.text_area :task_name %>
   <%= f.label :release, "表示状態" %><br>
    <%= f.select :release,[["公開", "release"],["非公開", "private"]], include_blank: "選択してください" %><br>
  <%= f.submit '更新' %>
<% end %>

<%= link_to '戻る', output_path %>