<div class="container text-center">
  <div class="row">
    
    <div class="col-6">
      <div class="listbox">
        <h1>＋ Outout</h1>
        <%= form_with model: @output do |f| %>
          <h4>投稿文</h4>
            <div class="form-floating mb-3 w-75 mx-auto">
              <%= f.text_area :post, type: "list_goal", class: "form-control", id: "floatingInput", placeholder: "oooのやり方で勉強した！", required: true %>
              <%= f.label :post, "勉強の仕方や学んだ内容を投稿してみよう！" %>
            </div>
            <%= f.label :release, "表示状態" %><br>
            <%= f.select :release,[["公開", "release"],["非公開", "private"]], include_blank: "選択してください" %><br>
            <%= f.submit 'Post', class: 'btns' %>
        <% end %>
      </div>
    </div>
  
    <div class="col-6">
      <div class="listbox">
        <h1>My output</h1>
        <%= paginate @outputs %>
        <% @outputs.each do |output| %>
          <div class="col-auto">
            <div class="listbox-in">
              <%= link_to output_path(output.id), class:"link-secondary" do %>
                <P><%= safe_join(output.post.split("\n"),tag(:br)) %></P>
              <% end %>
            </div>
          </div>
      <% end %>
    </div>
    
  </div>
</div>
