<div class="container text-center">
    
    <div class="row">
      <h1>Output</h1>
    </div>
  
  <div class="listbox">
    <div class="row">
      <div>
        <p>投稿:<%= safe_join(@output.post.split("\n"),tag(:br)) %></p>
        <p>公開状態:<%= @output.release %></p>
      </div>
      <p><%= link_to 'BACK', outputs_path, class:"link-info" %></p>
      <!--投稿したuserのみ表示-->
      <% if @output.user_id == current_user.id %>
        <p><%= link_to 'EDIT', edit_output_path %></p>
        <p><%= link_to 'DELETE', output_path, method: :delete, class:"link-info" %></p>
      <% end %>
    </div>
    
  </div>
</div>