<div>詳細</div>
<div>
  <p>投稿<%= @output.post %></p>
  <p>公開状態<%= @output.release %></p>
</div>

<%= link_to '戻る', outputs_path %>
<!--投稿したuserのみ表示-->
<% if @output.user_id == current_user.id %>
  <%= link_to '編集', edit_output_path %>
  <%= link_to '削除', output_path, method: :delete %>

<% end %>