<div class="container text-center">
  
  <div class="row">
    <%= form_with(url: timeline_index_path(@outputs_post), remote: true, method: :get, class: "output-search-form search-form-003") do |form| %>
      <%= form.text_field :keyword, placeholder: "Search", class: "search-input" %>
      <%= form.button "", class: "search-btn" %> 
    <% end %>
  </div>
  
  <%= paginate @outputs %>
  
  <div class="row">
    <% @outputs.each do |output| %>
      <div class="col-5">
        <div class="listbox">
          <div id="colections_buttons_<%= output.id %>">
            <%= render 'public/colections/colection', output: output %>
          </div>
          <div class="">
            <p><%= safe_join(output.post.split("\n"),tag(:br)) %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  
</div>


