<h1>編集</h1>

<%= form_with model: @user, url: my_page_update_path(@user.id) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :email %>
  <%= f.email_field :email %>
  <%= f.submit "保存" %>
<% end %>

<%= link_to '戻る', my_page_path %>