<!DOCTYPE html>
<html>
  <head>
    <title>ForMyFavorite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <!--userがログインしてる場合表示-->
      <% if user_signed_in? %>
      <li>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        <%= link_to 'リスト登録', new_list_path %>
        <%= link_to 'リスト一覧', lists_path %>
        <%= link_to 'アウトプット', outputs_path %>
        <%= link_to "マイページ", my_page_path %>
      </li>
      <!--adminがログインしてる場合表示-->
      <%# elsif admin_signed_in? %>
      <!--user/adminがログインしてない場合表示-->
      <% else %>
      <li>
        <%= link_to "新規登録", new_user_registration_path %>
        <%= link_to "top", root_path %>
        <%= link_to "ログイン", new_user_session_path %>
      </li>
    <% end %>
    </header>
    <%= yield %>
  </body>
</html>
