<!DOCTYPE html>
<html>
  <head>
    <title>ForMyFavorite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid bg-primary bg-opacity-10 text-center fullheight">
        <header class="sticky-top p-3">
          <div class="dropdown">
            <button type="button" class="btn btn-light" data-bs-toggle="dropdown" aria-expanded="false">
               MENU
            </button>
            <ul class="dropdown-menu">
              <!--userがログインしてる場合表示-->
              <% if user_signed_in? %>
                <li class="dropdow-item">
                  <%= link_to "My page", my_page_path, class:"link-info" %>
                </li>
                <li class="dropdow-item">
                  <%= link_to 'My calendar', events_path %>
                </li>
                <li class="dropdow-item">
                  <%= link_to 'My List', lists_path, class:"link-info" %>
                </li>
                <li class="dropdow-item">
                  <%= link_to '＋List', new_list_path %>
                </li>
                <li class="dropdow-item">
                  <%= link_to 'My output', outputs_path, class:"link-info" %>
                </li>
                 <li class="dropdow-item">
                  <%=link_to"♡Favorite", bookmarks_path(@user) %>
                </li>
                <li class="dropdow-item">
                  <%= link_to 'Output', timeline_index_path, class:"link-info" %>
                </li>
                <li class="dropdow-item">
                  <%= link_to "Log out", destroy_user_session_path, method: :delete %>
                </li>
              <!--user/adminがログインしてない場合表示-->
              <% else %>
                <li class="dropdow-item">
                  <%= link_to "Sign up", new_user_registration_path, class:"link-info" %>
                </li>
                <li class="dropdow-item">
                  <%= link_to "Top", root_path %>
                </li>
                <li class="dropdow-item">
                  <%= link_to "Log in", new_user_session_path, class:"link-info" %>
                </li>
              <% end %>
            </ul>
          </div>
        </header>
      
      <%= yield %>
    </div>
  </body>
</html>
