<!DOCTYPE html>
<html>
  <head>
    <title>ForMyFavorite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <!--userがログインしてる場合表示-->
      <% if user_signed_in? %>
      <li>
        <%= link_to "Log out", destroy_user_session_path, method: :delete %>
        <%= link_to '＋List', new_list_path %>
        <%= link_to 'My List', lists_path %>
        <%= link_to 'Output', outputs_path %>
        <%= link_to 'Time line', timeline_index_path %>
        <%= link_to "My page", my_page_path %>
        <%= link_to 'Calendar', events_path %>
      </li>
      <!--adminがログインしてる場合表示-->
      <%# elsif admin_signed_in? %>
      <!--user/adminがログインしてない場合表示-->
      <% else %>
      <li>
        <%= link_to "Sign up", new_user_registration_path %>
        <%= link_to "Top", root_path %>
        <%= link_to "Log in", new_user_session_path %>
      </li>
    <% end %>
    </header>
    <%= yield %>
  </body>
</html>
